adfnilproject/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfnilproject"
		},
		"LS_ADLS_Healthcare_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_ADLS_Healthcare'"
		},
		"LS_SQLServer_Healthcare_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_SQLServer_Healthcare'"
		},
		"LS_ADLS_Healthcare_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://scnilproject.dfs.core.windows.net/"
		},
		"LS_SQLServer_Healthcare_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "NIL\\SQLEXPRESS01"
		},
		"LS_SQLServer_Healthcare_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "HealthcareDB"
		},
		"LS_SQLServer_Healthcare_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adf_user"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_COPY_DYNAMIC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach_Load_All_Tables",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.table_list",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "LookupWatermark",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@concat(\n'SELECT COALESCE(MAX(Last_Watermark),''1900-01-01'') AS Last_Watermark ',\n'FROM dbo.Watermark_Table ',\n'WHERE Table_Name = ''',\nitem(),\n''''\n)",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_SQL_DYNAMIC",
											"type": "DatasetReference",
											"parameters": {
												"table_name": {
													"value": "@item()",
													"type": "Expression"
												}
											}
										}
									}
								},
								{
									"name": "If Condition",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "LookupMaxDate",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@or(\n    equals(\n        activity('LookupWatermark').output.firstRow.Last_Watermark,\n        '1900-01-01'\n    ),\n    greater(\n        ticks(activity('LookupMaxDate').output.firstRow.max_date),\n        ticks(activity('LookupWatermark').output.firstRow.Last_Watermark)\n    )\n)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "update_watermark",
												"type": "Script",
												"dependsOn": [
													{
														"activity": "Copy_SQL_to_ADLS",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"linkedServiceName": {
													"referenceName": "LS_SQLServer_Healthcare",
													"type": "LinkedServiceReference"
												},
												"typeProperties": {
													"scripts": [
														{
															"type": "Query",
															"text": {
																"value": "@concat(\n'UPDATE dbo.Watermark_Table SET Last_Watermark = ''',\nactivity('LookupMaxDate').output.firstRow.max_date,\n''' WHERE Table_Name = ''',\nitem(),\n''''\n)",
																"type": "Expression"
															}
														}
													],
													"scriptBlockExecutionTimeout": "02:00:00"
												}
											},
											{
												"name": "Copy_SQL_to_ADLS",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlServerSource",
														"sqlReaderQuery": {
															"value": "@concat(\n'SELECT * FROM dbo.',\nitem(),\n' WHERE last_modified_date > ''',\nactivity('LookupWatermark').output.firstRow.Last_Watermark,\n''' AND last_modified_date IS NOT NULL'\n)",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "ParquetSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "ParquetWriteSettings"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "DS_SQL_DYNAMIC",
														"type": "DatasetReference",
														"parameters": {
															"table_name": {
																"value": "@item()",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_ADLS_DYNAMIC",
														"type": "DatasetReference",
														"parameters": {
															"table_name": {
																"value": "@item()",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "set_row_count",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "update_watermark",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "row_count",
													"value": {
														"value": "@activity('Copy_SQL_to_ADLS').output.rowsCopied",
														"type": "Expression"
													}
												}
											}
										]
									}
								},
								{
									"name": "LookupMaxDate",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "LookupWatermark",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@concat(\n'SELECT ISNULL(MAX(last_modified_date), ''1900-01-01'') AS max_date ',\n'FROM dbo.',\nitem()\n)",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DS_SQL_DYNAMIC",
											"type": "DatasetReference",
											"parameters": {
												"table_name": {
													"value": "@item()",
													"type": "Expression"
												}
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"table_name": {
						"type": "string"
					},
					"table_list": {
						"type": "array",
						"defaultValue": [
							"claim_header",
							"claim_line",
							"member",
							"payment",
							"policy",
							"provider"
						]
					}
				},
				"variables": {
					"row_count": {
						"type": "Integer"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-04-04T08:45:35Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SQL_DYNAMIC')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_SQLServer_Healthcare')]",
				"[concat(variables('factoryId'), '/datasets/DS_ADLS_DYNAMIC')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_ADLS_DYNAMIC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_Healthcare",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"table_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(\ndataset().table_name,\n'_',\nformatDateTime(utcNow(),'yyyyMMddHHmmssfff'),\n'_',\nsubstring(guid(),0,8),\n'.parquet'\n)",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat(\ndataset().table_name,\n'/year=', formatDateTime(pipeline().TriggerTime,'yyyy'),\n'/month=', formatDateTime(pipeline().TriggerTime,'MM'),\n'/day=', formatDateTime(pipeline().TriggerTime,'dd')\n)",
							"type": "Expression"
						},
						"fileSystem": "landing"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_Healthcare')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_DYNAMIC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQLServer_Healthcare",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"table_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "dbo",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().table_name",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQLServer_Healthcare')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS_Healthcare')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_Healthcare_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_ADLS_Healthcare_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQLServer_Healthcare')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('LS_SQLServer_Healthcare_properties_typeProperties_server')]",
					"database": "[parameters('LS_SQLServer_Healthcare_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_SQLServer_Healthcare_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_SQLServer_Healthcare_password')]"
					}
				},
				"connectVia": {
					"referenceName": "selfhostedIR",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/selfhostedIR')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/selfhostedIR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		}
	]
}